---
title: Bruno Ponne Portfolio
---

<!DOCTYPE html>
<html lang="en">
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-621D1NYHDX"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
 	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());
		
  	gtag('config', 'G-621D1NYHDX');
	</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Bruno Ponne - Data Analyst</title>
    <meta name="description" content="This portfolio provides an overview of my data analysis path, highlighting
    my experiences with data cleaning, visualizations and causal inference.">
</head>
<body>
    <div class="container">
        <div class="header">

        </div>
        <div class="welcome">
            <div class="welcome-container">
                <div class="welcome-container-pic">
                    <img src="assets/bruno_pic.png" alt="bruno's picture">
                    <div class="name">
                        <p>Bruno Gasparotto Ponne</p>
                    </div>
                    <div id ="contatos">
                        <a href="mailto:bruno.ponne@gmail.com?subject=PortfolioMessage" target="_blank" class="button">Email</a>
                        <a href="https://github.com/bruno-ponne" target="_blank" class="button">GitHub</a>
                        <a href="https://www.linkedin.com/in/bruno-gasparotto-ponne-b6041810" target="_blank" class="button">Linkedin</a>
                    </div>
                </div>
                <div class="welcome-text">

                    <br>
                    <br>

                    <p><p class = "hello-highlight"> Hello! I'm Bruno. </p> 

                    <br>

                    I am a <b>Data Analyst at The Information Lab</b> in Hamburg, where I help organizations turn complex data into actionable insights using <b>Tableau, Snowflake, Alteryx, Power BI, R and Python.</b>



                    <br>
                    <br>
                    
                    My approach to data is rooted in my background as a civil servant at the <b>Federal Senate of Brazil</b>, my <b>Master’s in Public Policy from the Hertie School</b> and my experience helping companies at <b>The Information Lab</b>. I don’t just build dashboards; I  focus on evidence-based decision-making and the real-world impact of data.

                    
                    <br>
                    <br>

                    I am fluent in <b>English, Portuguese, and German (C1)</b>. Outside of work, I run <a href="https://codingthepast.com/" target="_blank">Coding the Past</a> a blog dedicated to bridging the gap between data science and the humanities.
                    
                    <br>
                    <br>

                   
                </div>
            </div>
        </div>
        <div class="projects">
            <div class="projects-case">
                <h1>Projects</h1>
                <ul class="projects-list">
                    {% for post in site.posts %}
                    <li class="project-style">
                        <div class="project-name">
                            <h2>
                                <a class="project-link" 
                                href= 
                                "{% if post.image == 'capa06.png' %}
                                    http://www.educa-sergipe.com.br/
                                {% elsif post.image == 'capa07.png' %}
                                    https://public.tableau.com/views/Shouldyouusethegoldenratioinyourvisualizations/Dashboard?:language=en-US&:sid=&:display_count=n&:origin=viz_share_link
                                {% else %}
                                    {{ post.url }}
                                {% endif %}"
                                target=
                                "{% if post.image == 'capa06.png' %}
                                    _blank
                                {% elsif post.image == 'capa07.png' %}
                                    _blank
                                {% else %}
                                    _self
                                {% endif %}">

                                {{ post.title }}</a>
                            </h2>
                            {{ post.abstract }}
                        </div>
                        <div class="project-img-box">
                            <img class="project-img" src="/assets/covers/{{ post.image }}" alt="image related to the project">
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="projects">
            <div class="projects-case">
                <h1>Publications</h1>
                <ul class="projects-list">
                    {% for pub in site.data.publications %}
                    <li class="project-style">
                        <div class="project-name" style="width: 100%;">
                            <h2>
                                <a class="project-link" 
                                href="{{ pub.link }}"
                                target="_blank">
                                {{ pub.title }}</a>
                            </h2>
                            <p>{{ pub.journal }} ({{ pub.year }})</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    <div class="footer"></div>
    </div>
</body>
</html>