---
title: Bruno Ponne Portfolio
---

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-621D1NYHDX"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
 	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());
		
  	gtag('config', 'G-621D1NYHDX');
	</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Bruno Ponne - My data science path</title>
    <meta name="description" content="This portfolio provides an overview of my data science path, highlighting
    my experiences with data cleaning, data analysis, visualizations and causal inference.">
</head>
<body>
    <div class="container">
        <div class="header">

        </div>
        <div class="welcome">
            <div class="welcome-container">
                <div class="welcome-container-pic">
                    <img src="assets/bruno_pic.png" alt="bruno's picture">
                    <div class="name">
                        <p>Bruno Gasparotto Ponne</p>
                    </div>
                    <div id ="contatos">
                        <a href="mailto:bruno.ponne@gmail.com?subject=PortfolioMessage" target="_blank" class="button">Email</a>
                        <a href="https://github.com/bruno-ponne" target="_blank" class="button">GitHub</a>
                        <a href="https://www.linkedin.com/in/bruno-gasparotto-ponne-b6041810" target="_blank" class="button">Linkedin</a>
                    </div>
                </div>
                <div class="welcome-text">
                    <p><p class = "hello-highlight"> Hello! I'm Bruno, </p> a legislative advisor who loves 
                    exploring data. In my work at the Federal Senate of Brazil, I research a variety of topics 
                    to inform legislative proposals. I believe evidence-based public policy is the key to 
                    shape a better society. To get relevant insights for my work, I analyze data in R and 
                    Python. During my master, I worked at the Hertie School Data Science Lab, 
                    in Berlin. As a teaching assistant I offered consultations on R, data visualization 
                    and causal inference. In my free time, apart from exploring data, I like exploring 
                    new places and cultures. Reading, gaming, history and jogging are also my hobbies. 
                    In this page I present some of my projects and experiences. I am the creator of <a href="https://www.codingthepast.com/" target="_blank">Coding the Past</a>, 
                    a blog developed to teach data science to other social scientists.</p>
                </div>
            </div>
        </div>
        <div class="projects">
            <div class="projects-case">
                <h1>Projects</h1>
                <ul class="projects-list">
                    {% for post in site.posts %}
                    <li class="project-style">
                        <div class="project-name">
                            <h2>
                                <a class="project-link" 
                                href= 
                                "{% if post.image == 'capa06.png' %}
                                    http://www.educa-sergipe.com.br/
                                {% else %}
                                    {{ post.url }}
                                {% endif %}"
                                target=
                                "{% if post.image == 'capa06.png' %}
                                    _blank
                                {% else %}
                                    _self
                                {% endif %}">

                                {{ post.title }}</a>
                            </h2>
                            {{ post.abstract }}
                        </div>
                        <div class="project-img-box">
                            <img class="project-img" src="/assets/covers/{{ post.image }}" alt="image related to the project">
                        </div>
                    </li>
                    {% endfor %}
            </div>
        </div>
    <div class="footer"></div>
    </div>
</body>
</html>
