
html {
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: Helvetica;
    width: 100%;
    padding-bottom: 60px;
    position:relative;
    padding-top: 100px;
}


.header{
    width: 100%;
    top:0;
    padding: 2%;
    background-color: #213147;
    position: fixed;
}

#menu{
    margin-left: 5%;
    margin-top:0;
    margin-bottom: 3%;
}

#menu li{
    float: left;
    padding:1%;
    border: 2px white solid;
    text-decoration: none;
    list-style: none;
    margin-left: 2%;
    width: 10%;
    text-align:center;

}

#menu li a{
    color: white;
    text-decoration: none;
    text-align: center;
  }
  
#menu li a:hover {
    color: #46BCF8;
    text-align: center;
  }

#welcome{
    width: auto;
    margin-left: 13%;
    padding-top: 100px;

}

#welcome h1{
    font-size: 2.5em;
    border-left: 40px #213147 solid;
    color: #213147;
    padding-left: 20px;
    }

#welcome p{
    color: #213147;
    line-height: 25px;
    }

#welcome img{
    width: 25%;
    float: right;
    clear: right;
    border-radius: 50%;
    margin-right: 15%;
    margin-top:0;
    margin-bottom: 5%;

}

#contatos{
    clear: both;
    margin-right: 14%;
    margin-bottom: 10%;
}

#contatos li{
    float: right;
    padding:1%;
    border: 2px #213147 solid;
    text-decoration: none;
    list-style: none;
    margin-left: 1%;
    width: 7%;
    text-align:center;

}

#contatos li a{
    color: #213147;
    text-decoration: none;
    text-align: center;
  }
  
#contatos li a:hover {
    color: #46BCF8;
    text-align: center;
}

#projects{
    width: auto;
    background-color: #F7F3EB;
    padding-top: 100px;
    padding-bottom: 5%;
}

#projects h1{
    font-size: 2.5em;
    border-left: 40px #213147 solid;
    color: #213147;
    padding-left: 20px;
    margin-left: 13%;
    }

#projects h3{
    color: #46BCF8;
    margin-left: 13%;
    margin-top: 5%;
    }
      
#projects p{
    color: #213147;
    margin-left: 13%;
    line-height: 25px;
    }

#capa01{
    width: 25%;
    float: right;
    clear: right;
    margin-right: 15%;
}

#projects a{
    font-weight: bold;
    color: #213147;
    text-decoration: none;
  }
  
#projects a:hover{
    font-weight: bold;
    color: #46BCF8;
    text-decoration: none;
  }

.projeto1{
    clear:left;
    margin-bottom: 15%;
}

#current{
    padding-top:100px;
    margin-left: 13%;
    margin-right: 10%
  }

#current h1{
font-size: 2.5em;
border-left: 40px #213147 solid;
color: #213147;
padding-left: 20px;
}

.sergipe1{
    display: block; 
    margin: auto;
    clear: right;
    width: 35%;
  }
  
.sergipe2{
    display: block; 
    margin: auto;
    clear: right;
    width: 50%;
  }
  
.sergipe3{
    display: block; 
    margin: auto;
    clear: right;
    width: 60%;
  }

footer{
    background-color: #213147;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: absolute;
  }